extends layout

block content
	p lorem ipsum dolar sit amet dolar

block styles
	link(rel="stylesheet" href="shared/css/something.css")

block scripts
	// build:js shared/js/foo.min.js
	script(src="shared/js/foo.js")
	script(src="shared/js/bar.js")
	// endbuild