- var title = project.courseTitle + (project.assetTitle ? ' - ' + project.assetTitle : '')
include ../includes/mixins
html
    head
        title= title
        block styles
    body
        include ../includes/nav
        block content
        include ../includes/footer

    block scripts