footer
	//- p &copy; #{project.copyright || '2014'} The University of Western Australia ast#{project.asset} | Version #{project.version} For conditions of use see #[a(href='http://spice.wa.edu.au/usage/') www.spice.wa.edu.au/usage]
